
@font-face {
    font-family: 'Open Sans';
    src: url('./font/OpenSans-Light.ttf');
}

* {

    padding: 0;
    margin: 0;
    user-select: none;
}

*:hover {

    cursor: inherit;
}

#calender {

    display: flex;
}

#day, #date {

    font-size: 1.8rem;
}

#hours, #minutes {

    font-size: 4.0rem;
}

#today {

    font-family: 'Open Sans', sans-serif;
}

#quotes {

    font-family: 'Open Sans', sans-serif;
    max-width: 40vw;
}

#quote {

    font-size: 1.2rem;
    font-weight: 600;
}

#movie, #year {

    float: right;
}