
@font-face {
    font-family: 'Open Sans';
    src: url('./font/OpenSans-Light.ttf');
}

* {

    padding: 0;
    margin: 0;
    user-select: none;
}

*:hover {

    cursor: inherit;
}

.active-day {

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 20px;
}

#add-note {

    background: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    outline: none;
    border: 1px solid transparent;
    font-size: 1rem;
    font-family: 'Open Sans';
    padding: 5px 10px;
    transition: all 0.2s ease-in;
    border-radius: 5px;
}

#add-note:hover {

    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

#add-todo {

    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);

    transition: all 0.2s ease-in;
}

#add-todo p {

    font-family: 'Open Sans';
    font-size: 1.2rem;
    padding-bottom: 15px;
}

#add-todo input {

    outline: none;
    font-family: 'Open Sans';
    font-size: 1rem;
    width: 350px;
}

#btn-next {

    margin-top: 20px;
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Open Sans';
    padding: 5px 8px;
    border-radius: 15px;
}

#btn-next:hover {

    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.685);
    color: rgba(255, 255, 255, 0.841);
}

#calendar {

    display: flex;
}

#calendar div {

    padding: 20px;
}

#cl-calendar table {

    text-align: center;
}

#cl-day {

    font-size: 2rem;
    font-family: 'Open Sans';
    font-weight: 300;
}

#cl-month {

    font-size: 2rem;
    font-family: 'Open Sans';
}

#cl-todo {

    min-width: 380px;
    max-width: 450px;
}

#cl-todo button {

    margin-top: 30px;
    text-align: center;

    /* margin-right: 10px; */
    /* margin-left: 10px; */
    border-radius: 3px;
    border: 1px solid transparent;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.2);

    font-size: 1.5rem;
    font-family: 'Open Sans';
    width: -webkit-fill-available;
    /* height: 20px; */
    outline: none;

    transition: ease-in 0.2s;
}

#cl-todo button:hover {

    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

#cl-week-info {

    font-size: 1.2rem;
}

#cl-week-info th {

    padding: 5px;
    font-family: 'Open Sans';
}

.cl-month-dates {

    font-size: 1.2rem;
    font-family: 'Open Sans';
}

#cl-quote {

    font-size: 1.4rem;
}

#country-input {

    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border: 1px solid black;
    font-size: 1rem;
    padding: 5px 8px;
    border-radius: 15px;
    outline: none;
}

#country-input:active, #country-input:focus {

    border-color: rgba(35, 6, 1, 0.689);
}

#cpu-stat, #ram-stat{

    text-align: center;
    font-family: 'Open Sans';
}

#day, #date {

    font-size: 1.8rem;
}

.hidden {

    display: none !important;
}

#hours, #minutes {

    font-size: 4.0rem;
}

#navbar nav ul {

    list-style-type: none;
    z-index: +1;
}

nav ul li {

    display: inline-block;
    padding: 20px;
    font-family: 'Open Sans';
}

nav ul li a:hover {

    cursor: pointer;
}

#note-input-area {

    outline: none;
    font-family: 'Open Sans';
    font-size: 1rem;
   
    transition: all 0.2s ease-in;
}

.note-item {

    background: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 20px;
    width: fit-content;

    font-family: 'Open Sans';
    font-size: 1.1rem;

    border-radius: 5px;
}

#note-menu {

    position: absolute;
    background-color: white;
    display: none;
}

#note-menu-item {

    font-family: 'Open Sans';
    list-style-type: none;
    padding: 5px 10px;
}

#settings h1, #setting p {

    font-family: 'Open Sans';
    font-weight: 400;
}

#submit-note {

    background: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    outline: none;
    border: 1px solid transparent;
    font-size: 1rem;
    font-family: 'Open Sans';
    padding: 5px 10px;
    transition: all 0.2s ease-in;
    border-radius: 5px;
}

#submit-note:hover {

    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

textarea {

    margin-top: 15px;
    user-select: auto;
}

#today {

    font-family: 'Open Sans', sans-serif;
}

.todo-item {

    font-size: 1.1rem;
    font-family: 'Open Sans';
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 8px 20px;
    border-radius: 1px;

    transition: all 0.6s ease-in;
}

#todo-submit {

    margin-left: 70px;
    margin-right: 70px;

    font-size: 1.2rem !important;
}

#quotes {

    font-family: 'Open Sans', sans-serif;
    max-width: 45vw;
}

#quote {

    font-size: 1.2rem;
    font-weight: 600;
}

#movie, #year {

    float: right;
}

#username {

    background-color: rgba(0, 0, 0, 0.688);
    padding: 5%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}

#username-input {

    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border: 1px solid black;
    font-size: 1rem;
    padding: 5px 8px;
    border-radius: 15px;
    outline: none;
}

#username-input:active, #username-input:focus {

    border-color: rgba(35, 6, 1, 0.689);
}

#city-input {

    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border: 1px solid black;
    font-size: 1rem;
    padding: 5px 8px;
    border-radius: 15px;
    outline: none;
}

#city-input:focus, #city-input:active {

    border-color: rgba(35, 6, 1, 0.689);
}

#weather {

    font-family: 'Open Sans';
    font-size: 1.5rem;
}



  .checkbox-wrapper-11 {
    --text: #414856;
    --check: #4F29F0;
    --disabled: #C3C8DE;
    --border-radius: 10px;
    border-radius: var(--border-radius);
    position: relative;
    padding: 5px;
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
  }
  .checkbox-wrapper-11 label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transition: color 0.3s ease;
  }
  .checkbox-wrapper-11 label::before,
  .checkbox-wrapper-11 label::after {
    content: "";
    position: absolute;
  }
  .checkbox-wrapper-11 label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
  }
  .checkbox-wrapper-11 label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
  }
  .checkbox-wrapper-11 input[type=checkbox] {
    -webkit-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
  }
  .checkbox-wrapper-11 input[type=checkbox]::before, .checkbox-wrapper-11 input[type=checkbox]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
  }
  .checkbox-wrapper-11 input[type=checkbox]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
  }
  .checkbox-wrapper-11 input[type=checkbox]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked::before {
    -webkit-animation: check-01-11 0.4s ease forwards;
            animation: check-01-11 0.4s ease forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked::after {
    -webkit-animation: check-02-11 0.4s ease forwards;
            animation: check-02-11 0.4s ease forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked + label {
    color: var(--disabled);
    -webkit-animation: move-11 0.3s ease 0.1s forwards;
            animation: move-11 0.3s ease 0.1s forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked + label::before {
    background: var(--disabled);
    -webkit-animation: slice-11 0.4s ease forwards;
            animation: slice-11 0.4s ease forwards;
  }
  .checkbox-wrapper-11 input[type=checkbox]:checked + label::after {
    -webkit-animation: firework-11 0.5s ease forwards 0.1s;
            animation: firework-11 0.5s ease forwards 0.1s;
  }

@-webkit-keyframes move-11 {
50% {
    padding-left: 8px;
    padding-right: 0px;
}
100% {
    padding-right: 4px;
}
}

@keyframes move-11 {
50% {
    padding-left: 8px;
    padding-right: 0px;
}
100% {
    padding-right: 4px;
}
}
@-webkit-keyframes slice-11 {
60% {
    width: 100%;
    left: 4px;
}
100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
}
}
@keyframes slice-11 {
60% {
    width: 100%;
    left: 4px;
}
100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
}
}
@-webkit-keyframes check-01-11 {
0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
}
50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
}
51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
}
100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
}
}
@keyframes check-01-11 {
0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
}
50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
}
51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
}
100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
}
}
@-webkit-keyframes check-02-11 {
0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
}
50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
}
51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
}
100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
}
}
@keyframes check-02-11 {
0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
}
50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
}
51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
}
100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
}
}
@-webkit-keyframes firework-11 {
0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
}
30% {
    opacity: 1;
}
100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
}
}
@keyframes firework-11 {
0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
}
30% {
    opacity: 1;
}
100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
}
}


