
@font-face {
    font-family: 'Open Sans';
    src: url('./font/OpenSans-Light.ttf');
}

* {

    padding: 0;
    margin: 0;
    user-select: none;
}

*:hover {

    cursor: inherit;
}

#day, #date {

    font-size: 1.8rem;
}

#hours, #minutes {

    font-size: 4.0rem;
}

#today {

    font-family: 'Open Sans', sans-serif;
}
