@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Prompt:wght@100;200&display=swap');

* {

    padding: 0;
    margin: 0;
}

.heading, .intro {

    text-align: center;
}

.heading-container {

    height: 70vh;
    background-color: #5ba199;
}

.intro-line-1 {

    padding-top: 35vh;
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 48px;
}

.intro-container {

    height: 32vh;
    background-color: #e5e3e4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.intro-text {

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;

    padding-left: 16vw;
    padding-right: 16vw;
}

.pad-bt-20 {
    
    padding-bottom: 20px;
}

.pine-download {

    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-top: 40px;

    text-decoration: none;
    border-bottom: 1px solid black;

    transition: all 0.4s ease-in-out;
}

.pine-download:hover {

    border-bottom: 1px solid transparent;
}

.pine-heading {

    padding-top: 5px;
    font-family: 'Prompt', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 60px;
    padding-bottom: 20px;
}